<table style="font-family:{{ site.data.defaults.font }};width:{{ site.data.defaults.width }}" border="0px">
	<thead>
		<tr>
			<th colspan="2" height="25px" width="{{ site.data.defaults.width }}">
				<hr style="min-height:8px;background-color:{{ site.data.sites[employee.site].color }};border:0px">
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<p style="margin:0px;font-family:{{ site.data.defaults.font }};color:{{ site.data.defaults.color }};font-size:16px">
					<strong>{{ page.name }}</strong>
					<br>
					{{ page.title }}
				</p>
				<p style="margin:0px;font-size:12px">&nbsp;</p>
				<p style="margin:0px;font-family:{{ site.data.defaults.font }};color:{{ site.data.defaults.color }};font-size:12px">
					{{ site.data.defaults.name }}
					<br>
					{{ site.data.defaults.address }}
					<br>
					{{ site.data.defaults.address2 }}
					<br><br>
					Call:&nbsp;<a href="tel:{{ site.data.defaults.phone }}" value="+1{{ site.data.defaults.phone }}" target="_blank" style="color:{{ site.data.defaults.color }};text-decoration:none;">{{ site.data.defaults.phone  }}</a>
					<br>
					Visit:&nbsp;<a href="{{ site.data.sites[employee.site].url }}" style="color:{{ site.data.sites[employee.site].color }};font-weight:bold;text-decoration:none" target="_blank">{{ site.data.sites[employee.site].displayUrl }}</a>
					<br>
					Follow:&nbsp;<a href="https://twitter.com/{{ site.data.sites[employee.site].twitter }}" style="color:{{ site.data.defaults.color }};text-decoration:none" target="_blank">@{{ site.data.sites[employee.site].twitter }}</a>
				</p>
			</td>
			<td valign="top">
				<a href="{{ site.data.sites[employee.site].url }}" target="_blank">
					<img src="{{ site.data.sites[employee.site].logo }}" alt="{{ site.data.sites[employee.site].logoAlt }}" title="{{ site.data.sites[employee.site].logoAlt }}" style="float:right;height:{{ site.data.defaults.logoSize }};width:{{ site.data.defaults.logoSize }};">
				</a>
			</td>
		</tr>
	</tbody>
</table>
