{% comment %} Check for user level twitter. Default to site level twitter. {% endcomment %}
{% assign twitter = site.data.sites[page.site].twitter %}
{% if page.twitter %}
	{% assign twitter = page.twitter %}
{% endif %}

{% comment %} Check for user phone. {% endcomment %}
{% assign phone =  site.data.defaults.phone %}
{% if page.phone %}
	{% assign phone = page.phone %}
{% endif %}

{% comment %} Check for user phone extension. {% endcomment %}
{% assign phone_ext = '' %}
{% if page.phone_ext %}
	{% assign phone_ext = ' ext. ' | append: page.phone_ext %}
{% endif %}

<!-- Build {{ site.github.build_revision }} -->
<!-- Version {{ site.data.defaults.version }} -->
<table class="version-{{ site.data.defaults.version }} build-{{ site.github.build_revision }}" width={{ site.data.defaults.width }} style="font-family:{{ site.data.defaults.font }};width:{{ site.data.defaults.width }}" border="0px">
	<thead>
		<tr>
			<th colspan="2" height="8" width="{{ site.data.defaults.width }}" style="height:8px">
				<p style="line-height:0.65;min-height:8px;height:8px;width:100%;margin-top:8px;margin-bottom:8px;background-color:{{ site.data.sites[page.site].color }};border:0px">&nbsp;</p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<p style="margin:0px;font-family:{{ site.data.defaults.font }};color:{{ site.data.defaults.color }};font-size:16px">
					<strong>{{ page.name }}</strong>
					<br>
					{{ page.title }}
				</p>
				<p style="margin:0px;font-size:12px">&nbsp;</p>
				<p style="margin:0px;font-family:{{ site.data.defaults.font }};color:{{ site.data.defaults.color }};font-size:12px">
					<a href="{{ site.data.sites[page.site].url }}" style="text-decoration:none!important;color:{{ site.data.defaults.color }};" target="_blank">
						<span style="color:{{ site.data.defaults.color }};">{{ site.data.sites.[page.site].name }}</span>
						<br>
						<span style="color:{{ site.data.defaults.color }};">{{ site.data.defaults.address }}</span>
						<br>
						<span style="color:{{ site.data.defaults.color }};">{{ site.data.defaults.address2 }}</span>
					</a>
					<br><br>
					<span style="color:{{ site.data.defaults.color }};">Call:</span>&nbsp;<a href="tel:{{ phone }}" value="+1{{ phone }}" target="_blank" style="color:{{ site.data.defaults.color }};text-decoration:none;"><span style="text-decoration:none;">{{ phone }} {{ phone_ext }}</span></a>
					{% if page.mobile %}
						<br>
						<span style="color:{{ site.data.defaults.color }};">Mobile:</span>&nbsp;<a href="tel:{{ page.mobile }}" value="+1{{ page.mobile }}" target="_blank" style="color:{{ site.data.defaults.color }};text-decoration:none;">{{ page.mobile }}</a>
					{% endif %}
					<br>
					<span style="color:{{ site.data.defaults.color }};">Visit:</span>&nbsp;<a href="{{ site.data.sites[page.site].url }}" style="color:{{ site.data.sites[page.site].color }};font-weight:bold;text-decoration:none" target="_blank">{{ site.data.sites[page.site].displayUrl }}</a>
					<br>
					<span style="color:{{ site.data.defaults.color }};">Follow:</span>&nbsp;<a href="https://twitter.com/{{ twitter }}" style="color:{{ site.data.defaults.color }};text-decoration:none" target="_blank">@{{ twitter }}</a>{% if page.linkedin %}, <a href="{{ page.linkedin }}" style="color:{{ site.data.defaults.color  }};text-decoration:none" target="_blank">LinkedIn</a>{% endif %}
				</p>
			</td>
			<td valign="top">
				<a href="{{ site.data.sites[page.site].url }}" target="_blank">
					<img src="{{ site.data.sites[page.site].logo }}" alt="{{ site.data.sites[page.site].logoAlt }}" title="{{ site.data.sites[page.site].logoAlt }}" height="{{ site.data.defaults.logoSize }}" width="{{ site.data.defaults.logoSize }}" style="float:right;height:{{ site.data.defaults.logoSize }}px;width:{{ site.data.defaults.logoSize }}px;">
				</a>
			</td>
		</tr>
	</tbody>
</table>
<!-- Build {{ site.github.build_revision }} -->
<!-- Version {{ site.data.defaults.version }} -->
