{% comment %} Check for user level twitter. Default to site level twitter. {% endcomment %}
{% assign twitter = site.data.sites[page.site].twitter %}
{% if page.twitter %}
	{% assign twitter = page.twitter %}
{% endif %}

{% comment %} Check for user phone. {% endcomment %}
{% assign phone =  site.data.defaults.phone %}
{% if page.phone %}
	{% assign phone = page.phone %}
{% endif %}

{% comment %} Check for user phone extension. {% endcomment %}
{% assign phone_ext = '' %}
{% if page.phone_ext %}
	{% assign phone_ext = ' ext. ' | append: page.phone_ext %}
{% endif %}

<table style="font-family:{{ site.data.defaults.font }};width:{{ site.data.defaults.width }}" border="0px">
	<thead>
		<tr>
			<th colspan="2" height="25px" width="{{ site.data.defaults.width }}">
				<hr style="min-height:8px;background-color:{{ site.data.sites[page.site].color }};border:0px">
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<p style="margin:0px;font-family:{{ site.data.defaults.font }};color:{{ site.data.defaults.color }};font-size:16px">
					<strong>{{ page.name }}</strong>
					<br>
					{{ page.title }}
				</p>
				<p style="margin:0px;font-size:12px">&nbsp;</p>
				<p style="margin:0px;font-family:{{ site.data.defaults.font }};color:{{ site.data.defaults.color }};font-size:12px">
					{{ site.data.defaults.name }}
					<br>
					{{ site.data.defaults.address }}
					<br>
					{{ site.data.defaults.address2 }}
					<br><br>
					Call:&nbsp;<a href="tel:{{ phone }}" value="+1{{ phone }}" target="_blank" style="color:{{ site.data.defaults.color }};text-decoration:none;">{{ phone }} {{ phone_ext }}</a>
					<br>
					Visit:&nbsp;<a href="{{ site.data.sites[page.site].url }}" style="color:{{ site.data.sites[page.site].color }};font-weight:bold;text-decoration:none" target="_blank">{{ site.data.sites[page.site].displayUrl }}</a>
					<br>
					Follow:&nbsp;<a href="https://twitter.com/{{ twitter }}" style="color:{{ site.data.defaults.color }};text-decoration:none" target="_blank">@{{ twitter }}</a>{% if page.linkedin %}, <a href="{{ page.linkedin }}" style="color:{{ site.data.defaults.color  }};text-decoration:none" target="_blank">LinkedIn</a>{% endif %}
				</p>
			</td>
			<td valign="top">
				<a href="{{ site.data.sites[page.site].url }}" target="_blank">
					<img src="{{ site.data.sites[page.site].logo }}" alt="{{ site.data.sites[page.site].logoAlt }}" title="{{ site.data.sites[page.site].logoAlt }}" style="float:right;height:{{ site.data.defaults.logoSize }};width:{{ site.data.defaults.logoSize }};">
				</a>
			</td>
		</tr>
	</tbody>
</table>
